.addcard_con{
	width: 100%;
	padding: 16px;
}
.addcard_box{
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
}
.addcard_box1{
	text-align: center;
	padding:5px 0px;
}
.addcard_box1 img{
	width: 17px;
}
.addcard_box2{
	text-align: center;
}
.okey{
	width: 100%;
	height:47px;
	margin-top: 30px; 
}
.btn_y{
	width: calc(100% - 38px);
	height: 47px;
	margin-left: 16px;
	font-size: 18px;
	line-height: 46px;
	color: #fff;
	border:none;
	background-color: #00c24d;
	border-radius: 4px;
}