            body {
            background-color: #f1f1f1;
        }

        .current_balance {
            background-color: #4a4d5b;
            margin-bottom: 8px;
            padding-bottom: 40px;
            color: #fff;
        }

        .what_balance {
            text-align: right;
            padding: 10px 15px 0 0;
            letter-spacing: 1px;
        }

        .balance_a {
            vertical-align: middle;
        }

        .wallet_box {
            width: 15px;
            height: 15px;
        }

        .balance_yuan {
            text-align: center;
            padding-top: 33px;
        }

        .cash {
            text-align: center;
            padding-bottom: 15px;
            font-size: 40px;
            font-family: arial;
        }

        .withdraw {
            width: 148px;
            line-height: 56px;
            text-align: center;
            margin: 0 auto;
            background-color: #00c24d;
            border-radius: 56px;
            font-size: 17px;
        }

        .change_passwd {
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #d7d7d7;
            margin-left: 30px;
            line-height: 50px;
        }
        #change_passwd_three{
            border:none;
        }

        .wallet_page_index .wallet-page-cont {
            margin-top: 0;
        }

        .wallet_page_index .weui-cell {
            padding: 15px;
        }
        /* 遮罩 */

        .picker {
            transition: all .5s;
            -webkit-transition: all .5s;
            background: transparent;
            position: fixed;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-align: center;
            font-family: PingFang SC, STHeitiSC-Light, Helvetica-Light, arial, sans-serif;
            font-size: 14px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background: rgba(0, 0, 0, 0.4);
        }

        .optione {
            width: 100%;
            height: 304px;
            position: absolute;
            background-color: #fff;
            z-index: 101;
            bottom: 0;
        }

        .option_btn {
            width: 100%;
            position: absolute;
            z-index: 101;
            text-align: center;
            bottom: 41%;
        }

        .balance_text {
            width: 100%;
            height: 50px;
            line-height: 50px;
            margin: 0 auto;
            border-bottom: 1px solid rgb(215,215,215);
            margin-left: 30px;
            margin-bottom: 10px;
        }

        .bulb {
            float: left;
            color: rgb(34, 34, 34);
            font-weight: 600;
        }

        .bulb_a {
            float: right;
            margin-right: 15%;
            margin-top: 2px;
        }

        .bulb_text {
            width: 89%;
            height: 70%;
            margin: 0 auto;
            padding-left: 18px;
        }

        .icon_1 {
            width: 25px;
            height: 25px;
        }

        .arrows_a {
            width: 25px;
            height: 25px;
            margin-top: 12px;
        }

        .arrows_b {
            width: 25px;
            height: 25px;
            margin-top: 12px;
            margin-left: 30px;
        }
        .change_all{
            border-bottom:1px solid #d7d7d7;
        }
        .arrows{
            right:60px;
        }