body{
  background-color: #f0f1f2;
}
.top-cont {
    width: 100%;
    height: 285px;
    background: #26c224 url(/images/merchants/top-img.jpg) 0 42px no-repeat;
    background-size: 100% 292px;
    font-size: 14px;
    color: #fff;
}
.login {
    width: 100%;
    height: 265px;
}
.banner_title {
    padding: 0 15px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    justify-content: space-between;
    justify-content: -webkit-space-between;
    justify-content: -moz-space-between;
    justify-content: -o-space-between;
    align-items: center;
    align-items: -webkit-center;
    align-items: -moz-center;
    align-items: -o-center;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.12);
    color: #fff;
}
.pro-user{
  width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pro-name{
    background: url(/images/merchants/icon_user_head.png) no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.account-num1{
  width: 240px;
}
.account-num2{
  width: 130px;
}
.account {
    padding: 42px 0 0;
    width: 100%;
    text-align: center;
}
.account_money {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 42px;
    margin-top: 15px;
}
.arrow {
    width: 25%;
    line-height: 43px;
    float: left;
    text-align: right;
    font-size: 36px;
}
.extent_all{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    justify-content: center;
    justify-content: -webkit-center;
    justify-content: -moz-center;
    justify-content: -o-center;
    align-items: center;
    align-items: -webkit-center;
    align-items: -moz-center;
    align-items: -o-center;
    margin-top: 40px;
    text-align: center;
}
.extentd{
  flex: 1;
}
.extentd-title{
    opacity: 0.8;
    padding-bottom: 5px;
}
.line{
    height: 40px;
    width: 1px;
    background-color: #fff;
    opacity: 0.8;
}
.extentd-money{
    font-style: arial;
    font-size: 18px;
}
.weui-cells{
  margin-top: 8px;
}
.weui-cell{
  padding: 15px;
}
