@charset "UTF-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    color: #333;
    font-family: PingFangSC-Light,helvetica,'Heiti SC';
}
a{
    color: #333;
    text-decoration: none;
}
 table{
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
/*q:before,q:after {
	content:'';
} */
abbr,acronym {
	border: 0;
}
li{
    list-style: none;
}
input,img{
    border: none;
    outline: none;
}

.fl,.fn-left{
	float: left;
}
.fr,.fn-right{
	float: right;
}
.fn-clearFix{
    *zoom:1;
}
.fn-clearFix:after{
    display: block;
    content: "";
    width: 0;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.tl,.text-l{
  text-align:left;
}
.tr,.text-r{
  text-align: right;
}
.bg_f,.bg_white{
	background-color: #fff;
}
.borderno{
	border:none !important;
}
.cc{
  color: rgb(156,156,156);
}
.cr,.color-red{
  color: red;
}
.cgre{
  color: #00c24f;
}

input{
	-webkit-appearance:none;
    border-radius:0;
}
