#search_empty_img {
    width: 100%;
    display: none;
}

#all_content_agent {
    border-bottom: #d7d7d7 solid 1px;
}

#search_content_agent {
    height: 100%;
    width: 100%;
    border-bottom: #d7d7d7 solid 1px;
}

.agent_name {
    /* height: 50px; */
    padding-left: 18px;
    padding-right: 18px;
    font-size: 17px;
    /* line-height: 50px; */
    color: #222222;
    border-top: #d7d7d7 solid 1px;
    word-wrap:break-word; 
    word-break:break-all;
}

#agent_type {
    height: 25px;
    background-color: #E8E8E8;
    padding-left: 19px;
    line-height: 25px;
    border-top: #d7d7d7 solid 1px;
}

.all_load_footer {
    text-align: center;
    display: none;
    padding: 15px 0;
}

.search_load_footer {
    text-align: center;
    display: none;
    padding: 15px 0;
}

/* .all_agent_parent {
    padding-top: 44px;
}

.search_agent_parent {
    padding-top: 44px;
} */

#agent_content{
    padding-top: 44px;
}