<title>个人博客-首页</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/merchants/passwd.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/customer.css" />  -->
<!-- <script src="/javascripts/common/weui.js"></script> -->
<!-- <script src="/javascripts/common/zepto.js"></script> -->
<style>
    body{
        background-color: #ffffff;
    }
</style>